<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
    <div class="nano">
        <div class="nano-content">
            <ul>
                <div class="logo"><a href="index.html">
                        <!-- <img src="images/logo.png" alt="" /> --><span>Focus</span></a></div>
                
                <li class="label">Apps</li>
                <!--<li><a class="sidebar-sub-toggle"><i class="ti-bar-chart-alt"></i> Charts <span
                            class="sidebar-collapse-icon ti-angle-down"></span></a>
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="chart-morris.html">Morris</a></li>
                        <li><a href="available_books">Activar Admins</a></li>
                        <li><a href="my_books">Administradores</a></li>
                        <li><a href="book_register">Registrar</a></li>
                        <li><a href="chart-sparkline.html">Sparkle</a></li>
                        <li><a href="chart-knob.html">Knob</a></li>
                    </ul>
                </li>-->
                <li><a href="/"><i class="ti-home"></i>Inicio </a></li>
                <li><a href="gestionUsuario"><i class="ti-user"></i>Gestion ADM.</a></li>
                <li><a href="gestionLibro"><i class="ti-book"></i>Gestion Libros.</a></li>


        </div>
    </div>
</div>